# Dependencies
*.dep

# Include 
lnInclude/
linux64Gcc*/
linux64Cray*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# project dirs
.idea
CMakeLists.txt
cmake-build-debug
